nav {
    background-color: rgb(4, 0, 2);
    padding: .1em;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    
}


html, body {
    font-family: Roboto, cosmic sans-serif;
    font-size: 3vh;
    height: 100vh;
    overflow: visible;
    background-image:url("images/nothing.webp");
    background-repeat: repeat;
    background-size: cover;
   
   
}

a {


    color:rgb(249, 54, 158);
    }
    .btn {
        font-family: fantasy, copperplate;
        font-display: bold;
        border: none;
        background-color: inherit;
        padding: 10px 75px;
        font-size: 25px;
        cursor: pointer;
        display: inline-block;
       
       }


/* pink */
.home{
    color: rgb(218, 57, 239);
}

.home:hover {
    background: #08000330;
    color: rgb(5, 5, 5);
}


/* pink */
.dance {
    color: rgb(218, 57, 239);
}

.dance
:hover {
    background-color: #171717;
    color: rgb(16, 14, 14);
}

/* pink */
.drink {
    color: rgb(218, 57, 239);
}

.dance:hover {
    background: #08000330;
    color: rgb(5, 5, 5);
}

/* pink */
.drink{
    color: rgb(218, 57, 239);
}

.drink:hover {
    background: #0d080025;
    color: rgb(5, 5, 5);
}

/* pink */
.music{
    color: rgb(218, 57, 239);
}

.music:hover {
    background: #04000020;
    color: rgb(5, 5, 5);
}

/* pink */
.rave {
    color: rgb(218, 57, 239);
}

.rave:hover {
    background: #10010019;
    color: rgb(5, 5, 5);
}

/* pink */
.danger {
    color: rgb(218, 57, 239);
}

.danger:hover {
    background: #10010019;
    color: rgb(5, 5, 5);
}

/* pink */
.contact {
    color: rgb(218, 57, 239);
}

.contact:hover {
    background-color: #10010019;
    color: rgb(5, 5, 5);
}


form {
    width: 300px;
    padding: 20px;
    border: 1px solid rgb(218, 57, 239);
    margin: 0 auto;
  }
  
  label {
    font-family: fantasy, copperplate;
    font-size: 20px;
    color: rgb(218, 57, 239);
    margin-bottom: 15px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(218, 57, 239);
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: rgb(218, 57, 239);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  